
.button{
	width:150px;
	height:50px;
	border-radius:5px;
	color: white;
	font-size:22px;
	font-family: Open Sans;
	background-color:#273c75;
}

.mid{
	width:100%;
	height:100px;
}

.mid div{
	float: left;
}

.bot{
	width:100%;
	height:400px;
}

.bot input{
	width:100%;
	border-radius: 15px;
	outline: none;
	font-family: Open Sans;
	background-color: #f6e58d;
	border: none;
}

.card{
	background-color: #f6e58d;
	border-radius: 15px;
	float: left;
	height:220px;
	width:180px;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:25px;
}

.cardtitle input{
	font-weight: 600;
	font-size: 25px;
	text-align: center;
}

.cardtext textarea{
	width:100%;
	border-radius: 15px;
	margin-top: 10px;
	margin-left: 8px;
	resize: none;
	outline: none;
	font-family: Open Sans;
	background-color: #f6e58d;
	border: none;
	width: 90%;
	height:170px;
}



















