@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Regular.ttf')
}

*{
  font-family: 'OpenSans', monospace;
}

body{
  background: linear-gradient(to right, #2980b9, #2c3e50);
}
.title{
	font-size:100px;
	text-align:center;
}
.top{
	width:100%;
	height:150px;
}

#content {
	width: 100%;
	height: 1000px;	
}




