.card{
	background-color: #f6e58d;
	border-radius: 15px;
	float: left;
	height:220px;
	width:180px;
	margin-right:20px;
	margin-left:20px;
	margin-bottom:25px;
}
.cardtitle input{
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	float:left;
	background-color: #f6e58d;
	width:80%;
	border: none;
	border-radius: 15px;
}

.cardtext textarea{
	width:100%;
	border-radius: 15px;
	margin-top: 10px;
	margin-left: 8px;
	resize: none;
	outline: none;
	background-color: #f6e58d;
	border: none;
	width: 90%;
	height:170px;
}

.deletebutton{
	width:20%;
	height:30px;
	font-size:18px;
	/* background-color:#f6e58d; */
	border-radius:5px;
	float:left;
}