.mid{
	width:100%;
    height:50px;
}

.mid *{
    float:left;
}

.cardpool input{
    width:100%;
	border-radius: 15px;
	outline: none;
	font-family: Open Sans;
	background-color: #f6e58d;
	border: none;
}
.button{
	width:150px;
	height:50px;
	border-radius:5px;
	margin-left:30px;
	color: white;
	font-size:22px;
	background-color:#44bd32
}

.menuoption{
	margin-left:10px;
}

.combobox{
	margin-top:12px;
	margin-right:5px;
}